<div class="modal-header">
    {% if blog is defined %}
        <h3 class="modal-title">Renommer: {{ blog }}</h3>
    {% else %}
        <h3 class="modal-title">Créer une page de documentation</h3>
    {% endif %}
</div>

{{ form_start(form, {attr: { id : "form-update-blog"}}) }}
<div class="modal-body">
    {{ form_widget(form) }}
</div>

<div class="modal-footer">
    <button class="btn btn-secondary" type="button" data-dismiss="modal">Fermer</button>
    {% if blog is defined %}
        <button class="btn btn-success" type="button" onclick="submitRename()">Renommer</button>
    {% else %}
        <button class="btn btn-success" type="submit" >Créer la page</button>
    {% endif %}
</div>
{{ form_end(form) }}