<div class="modal-header">
        <h3 class="modal-title">Attacher une page de documentation</h3>
</div>

<div class="modal-body">
    {{ form_start(form, {attr: { id : "form-attach-blog"}}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>

<div class="modal-footer">
    <button class="btn btn-secondary" type="button" data-dismiss="modal">Fermer</button>
    <button class="btn btn-success" type="button" onclick="attachPage()">Attacher</button>
</div>

<script>
    function attachPage(){
        postFormAjax("#form-attach-blog", data => {
            let id = data.id;
            let url = "{{ path('user_documentation_render_edition', { id : "_ID_" }) }}".replace("_ID_", id);
            swal.fire("Page attachée", "", "success");
            var html = `<li class="user-doc-li"><a href="${url}" ><i class="material-icons">menu_book</i></a></li>`;
            $(".user-doc-li").remove();
            $(".base-action-list").prepend(html);
            $("#modal").modal('hide');
        });
    }
    $("#form-attach-blog select").select2();
</script>
