<div class="modal-header">
    <h3 class="modal-title">Redimensionner l'élément</h3>
</div>

<div class="modal-body">
    <form action="{{ path('user_documentation_element_resize', { id : contentElement.id, type : type } ) }}" method="post" id="form-resize-element">
        <label for="size-select" class="col-sm-4 control-label">
            Nombre de colonnes
        </label>
        <div class="col-sm-8">
            <select name="size" id="size-select" class="form-control" style="width: 100%">
                {% for i in 1..12 %}
                    <option value="{{ i }}" {% if i == contentElement.width %}selected="selected"{% endif %}>{{ i }}</option>
                {% endfor %}
            </select>
        </div>
    </form>
</div>

<div class="modal-footer">
    <div class="row m-t-10">
        <div class="col-sm-12 text-right">
            <button class="btn btn-link" type="button" data-dismiss="modal">Fermer</button>
            <button class="btn btn-success" type="button" onclick="postResize()">Modifier</button>
        </div>
    </div>

</div>

<script>
    function postResize(){
        postFormAjax("#form-resize-element", data => {
            $("#modal").trigger("elementChanged");
        })
    }
</script>
