.blog-main-render h1{
    font-size: 26px;
    font-family: "Roboto", sans-serif;
}

.blog-main-render h2{
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}
.blog-main-render h3{
    font-size: 20px;
}
.blog-main-render h4{
    font-size: 18px;
}
.blog-main-render h5{
    font-size: 16px;
}

.manual-picture{
    width: 100%;
}

.element-edit:hover{
    background-color: #d0bcac;
    cursor: pointer;
    border: 3px dashed #555555;
    border-radius: 5px;
}

.content-element-tools{
    right: 0;
    position: absolute;
    opacity: 0;
    transition: 275ms;
}

.element-edit:hover > .content-element-tools{
    height: auto;
    opacity: 100%;
}

.blog-main-render p{
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    word-break: break-word;
}

.blog-main-render ul {
    list-style: none; /* Remove default bullets */
}

.blog-main-render ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #2A92FF; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}
