{% extends 'app/layout.html.twig' %}

{% block title %}Manuels utilisateur{% endblock %}


{% block body_content %}

    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon"><i class="kt-font-primary fas fa-book-open"></i></span>
                <h3 class="kt-portlet__head-title">Liste des pages</h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <div class="kt-portlet__head-actions">

                    </div>
                </div>
            </div>
        </div>
        <div class="kt-portlet__body">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table kalitics-table">
                        <thead>
                        <tr>
                            <th>Titre de la page</th>
                            <th>Route(s) concernée(s)</th>
                            <th>Mots clés</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for blog in blogs %}
                            <tr id="tr-blog-{{ blog.id }}">
                                <td class="blog-name">{{ blog }}</td>
                                <td>
                                    {% for page in blog.referencedRoutes %}
                                        <span class="kt-badge kt-badge--warning kt-badge--inline kt-badge--pill">
                                            {{ page }}
                                            <a onclick="unlinkPath(this, '{{ path('user_documentation_unlink_path', { id:page.id }) }}')" style="color: white">
                                                <i class="fas fa-times"></i>
                                            </a>
                                        </span>
                                    {% endfor %}
                                </td>
                                <td></td>
                                <td class="text-right">
                                    <a data-toggle="tooltip" title="Consulter la page" href="{{ path('user_documentation_render_view', { id : blog.id }) }}" class="btn btn-sm btn-icon btn-icon-md btn-label-success">
                                        <i class="fa fa-search"></i>
                                    </a>
                                    <button data-toggle="tooltip" title="Renommer la page" type="button" class="btn btn-sm btn-icon btn-icon-md btn-label-warning"
                                            onclick="renameBlog('{{ blog.id }}')">
                                        <i class="fas fa-underline"></i>
                                    </button>
                                    <a data-toggle="tooltip" title="Editer la page" href="{{ path('user_documentation_render_edition', { id : blog.id }) }}" class="btn btn-sm btn-icon btn-icon-md btn-label-primary">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <button data-toggle="tooltip" title="Supprimer la page" type="button"  class="btn btn-sm btn-icon btn-icon-md btn-label-danger"
                                            onclick="confirmSwal('{{ path('user_documentation_delete', {id:blog.id}) }}', 'La page de documentation sera supprimée.')">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>


    <input type="hidden" id="url-rename-blog" value="{{ path('user_documentation_rename', { id : 'ID' }) }}">

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/kaliticsmanual/js/list_userdoc.js') }}"></script>

{% endblock %}