{% if display is defined and display == 'blog' %}
    {% if blog is null %}
        <a class="kt-header__topbar-icon"
           onclick="openModal('modal', '{{ path('user_documentation_get_blog', { path : route }) }}', null);return false;" href="#">
            <i class="fas fa-book-open"></i>
        </a>
    {% else %}
        <a class="kt-header__topbar-icon" href="{{ path('user_documentation_render_edition', { id : blog.id }) }}" >
            <i class="fas fa-book-open"></i>
        </a>
    {% endif %}
{% endif %}

{% if display is defined and display == 'attach'%}
    <a class="kt-header__topbar-icon" onclick="openModal('modal',  '{{ path('user_documentation_attach_blog', { path : route }) }}')">
        <i class="fas fa-paperclip"></i>
    </a>
{% endif %}

{% if blog is not null and display is defined and display == 'help'%}
   <a class="kt-header__topbar-icon" href="{{ path('user_documentation_render_view', { id : blog.id }) }}">
       <i class="far fa-question-circle"></i>
   </a>
{% endif %}