{% extends 'app/layout.html.twig' %}

{% block title %}Manuel utilisateur{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/kaliticsmanual/css/blog.css') }}" type="text/css"/>
{% endblock %}

{% block body_content %}
    <div class="row">
        <div class="col-md-3"></div>
        <div id="blog-renderview" class="col-md-6">
            {{ blog.renderView|raw }}
        </div>
        <div class="col-md-3">
            <div class="kt-portlet kt-portlet--mobile" style="position: sticky;top: 90px">
                <div class="kt-portlet__head kt-portlet__head--lg">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon"><i class="fas fa-list"></i></span>
                        <h3 class="kt-portlet__head-title">Liste des pages</h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    {% for blog in blogs %}
                        {% if currentId != blog.id %}
                            <a href="{{ path('user_documentation_render_edition', {id: blog.id}) }}">{{ blog }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__head kt-portlet__head--lg">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon"><i class="fas fa-plus-square"></i></span>
                        <h3 class="kt-portlet__head-title"> Ajouter du contenu</h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="row">
                        <div id="add-templates-buttons" class="w-100 d-flex justify-content-center">
                            {{ blog.renderSelectButtons|raw }}
                        </div>
                    </div>
                    <div>
                        <div class="edit-menu-card" style="display: none" data-path="{{ path('user_documentation_element_template', { id: blog.blogManager.blog.id , type : '_TYPE_' }) }}"  id="add-element-template" ></div>
                        <div class="update-menu-card" style="display: none" data-path="{{ path('user_documentation_element_update', { id: "_ID_" , type : '_TYPE_', display:'default'}) }}"  id="update-element-template" ></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

    <!-- URLS -->
    <input type="hidden" id="url-sort-element" value="{{ path('user_documentation_sort_elements', {id : blog.blogManager.blog.id }) }}">
    <input type="hidden" id="url-get-blogrender" value="{{ path('user_documentation_get_blog_render', {id : blog.blogManager.blog.id }) }}">
    <input type="hidden" id="url-resize-element" value="{{ path('user_documentation_element_resize', {id : 'ID', type: 'TYPE' }) }}">
    <input type="hidden" id="url-delete-element" value="{{ path('user_documentation_element_remove', {id : 'ID', type: 'TYPE' }) }}">
    <input type="hidden" id="url-rename-blog" value="{{ path('user_documentation_rename', { id : blog.blogManager.blog.id }) }}">

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/kaliticsmanual/js/jquery-ui.min.js') }}" type="text/javascript"></script>
    {% block ckeditor_lib %}
        <script src="{{ asset('bundles/fosckeditor/ckeditor.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/fosckeditor/adapters/jquery.js') }}" type="text/javascript"></script>
    {% endblock %}
    <script src="{{ asset('bundles/kaliticsmanual/js/user_doc.js') }}" type="text/javascript"></script>
{% endblock %}


