{% extends 'app/layout.html.twig' %}

{% block title %}Manuel utilisateur{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/kaliticsmanual/css/blog.css') }}" type="text/css"/>
{% endblock %}

{% block body_content %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {{ blog.renderView(false)|raw }}
        </div>
        <div class="col-md-3">
            <div class="kt-portlet kt-portlet--mobile" style="position: sticky;top: 90px">
                <div class="kt-portlet__head kt-portlet__head--lg">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon"><i class="fas fa-list"></i></span>
                        <h3 class="kt-portlet__head-title">Liste des pages</h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    {% for blog in blogs %}
                        {% if currentId != blog.id %}
                            <a href="{{ path('user_documentation_render_view', {id: blog.id}) }}">{{ blog }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}