{% set uid = random() %}
<div class="pt-3">
    <h4>
        {% if content is defined %}
            Modifier une zone de texte
        {% else %}
            Ajouter une zone de texte
        {% endif %}
    </h4>
</div>
<div class="w-100">
    <form action="{{ action }}" method="post" enctype="multipart/form-data" id="post-form-element-{{ uid }}">
        <div class="form-group d-none">
            <label for="element-width-{{ uid }}">Taille du bloc</label>
            <select name="element-width" id="element-width-{{ uid }}">
                {% for i in 1..12 %}
                    {% if width is defined %}
                        <option value="{{ i }}" {% if i == width %}selected="selected"{% endif %}>{{ i }}</option>
                    {% else %}
                        <option value="{{ i }}" {% if i == 12 %}selected="selected"{% endif %}>{{ i }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <label for="ckeditor-add-line-{{ uid }}"></label>
        <textarea id="ckeditor-add-line-{{ uid }}" name="ckeditor-add-line">
            {% if content is defined %}
                {{ content }}
            {% endif %}
        </textarea>
        <label for="ckeditor-content-{{ uid }}"></label>
        <textarea style="display: none" name="ckeditor-content" id="ckeditor-content-{{ uid }}" cols="30" rows="10">
        </textarea>
    </form>
    <div>
        <button class="btn btn-danger" onclick="cancelInsertContentElement()" type="button">
            <i class="fas fa-times m-r-10"></i> Annuler
        </button>
        <button class="btn btn-warning" onclick="insertElement()" type="button">
            <i class="fas fa-plus m-r-10"></i> {{ content is defined ? "Modifier" : "Insérer"}} le bloc
        </button>
    </div>
</div>


<script>
    $("#ckeditor-add-line-{{ uid }}").ckeditor();
    $("#ckeditor-add-line-{{ uid }}").on('instanceReady', () => {
       window.scrollTo(0,document.body.scrollHeight);
    })
    $("#element-width-{{ uid }}").select2();

    function insertElement(){
       var content = CKEDITOR.instances['ckeditor-add-line-{{ uid }}'].getData();
       $("#ckeditor-content-{{ uid }}").html(content);
       postFormAjax( "#post-form-element-{{ uid }}", data => {
           $("#modal").trigger("elementChanged");
           cancelInsertContentElement();
       })
    }
</script>