{% set uid = random() %}
<div class="w-100">
    <form action="{{ action }}" method="post" enctype="multipart/form-data" id="post-form-element-{{ uid }}">
        <div class="form-group">
            <label for="Importer une image">
            </label>
            <div class="col-sm-12">
                <div class="form-line">
                    <input type="file" name="image" id="image-{{ uid }}">
                </div>
            </div>
        </div>
        <div class="form-group d-none">
            <label for="element-width-{{ uid }}">Taille du bloc</label>
            <select name="element-width" id="element-width-{{ uid }}">
                {% for i in 1..12 %}
                    <option value="{{ i }}" {% if i == 12 %}selected="selected"{% endif %}>{{ i }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="row">
            <div class="col-sm-12 align-right">
                <button class="btn btn-danger" onclick="cancelInsertContentElement()" type="button"> <i class="fas fa-times m-r-10"></i> Annuler</button>
                <button class="btn btn-success" onclick="insertElement()" type="button"> <i class="fas fa-plus m-r-10"></i> Insérer le bloc</button>
            </div>
        </div>

    </form>
</div>

<script>
    function insertElement(){
        postFormAjax("#post-form-element-{{ uid }}", data => {
            $("#modal").trigger("elementChanged");
            cancelInsertContentElement();
        })
    }
</script>